main > .section > .default-content-wrapper {
  border-bottom: solid;
  max-width: 100%;
  margin: 1% 10%;
  padding: 0 24px;
}

.tabs-wrapper {
  max-width: 100%;
  margin: 0% 10%;
  padding: 0 24px;
}

.tabs {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 20px;
}

.tabs .tabs-list {
  display: flex;
  flex-direction: column;
  gap: 0.5ch;
  max-width: 100%;
  font-size: var(--body-font-size-xs);
  overflow-x: auto;
}

@media (width >= 600px) {
  .tabs .tabs-list {
    font-size: var(--body-font-size-s);
  }
}

@media (width >= 900px) {
  .tabs .tabs-list {
    font-size: var(--body-font-size-m);
  }
}

.tabs .tabs-list button {
  position: relative;
  flex: 0 0 max-content;
  margin: 0;
  border: none;
  border-radius: 0;
  padding: 0.5em;
  background-color: white;
  color: initial;
  font-weight: bold;
  text-align: initial;
  transition: background-color 0.2s, color 0.2s;
}

.tabs .tabs-list button:hover {
  border-bottom: 1px solid var(--background-color);
  color: darkgreen;
  cursor: pointer;
  text-decoration: underline;
  font-style: italic;
  font-weight: bold;
}

.tabs .tabs-list button[aria-selected='true'] {
  border-bottom: 1px solid var(--background-color);
  background-color: var(--background-color);
  color: darkgreen;
  cursor: initial;
  text-decoration: underline;
  font-style: italic;
  font-weight: bold;
}

.tabs .tabs-panel {
  margin-top: -1px;
  padding: 24px;
  overflow: auto;
}

/* This CSS rule ensures panels are hidden when aria-hidden is true */
.tabs .tabs-panel[aria-hidden='true'] {
  display: none;
}
